/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */
/* The animation code */
/*/
/*
 * class .text-highlite
 * highlite field and fade back to background over 4 seconds
 */
@keyframes example {
  from {background-color: orange;}
  to {background-color: white;}
}
/* The element to apply the animation to */
div.text-highlite {
  width: 100px;
  height: 24px;
  background-color: white;
  animation-name: example;
  animation-duration: 4s;  
}

div.text-highlite-right {
  width: 100px;
  height: 24px;
  background-color: white;
  animation-name: example;
  animation-duration: 4s;  
  text-align: right;
}

